#App {
  width:100vw;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}
button {
  margin-left: 20px;
}
input {
  height:34px;
  line-height: 34px;
  padding-left: 12px;
}