:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: hidden;
}

* {margin:0; padding:0}



#MainWrapper {
  max-width:680px;
  margin:0 auto;
  padding: 20px;
  box-sizing: content-box;
  height: calc(100vh - 100px);
  min-height: 200px;
  display: flex;
  flex-direction: column;

  .header {
    flex-grow: 1;
  }
}